<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NotesSaver</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
  </head>
  <body>
    <div
      class="min-h-screen bg-zinc-900 flex text-white flex flex-col items-center p-10 ">
      <h1 class="text-yellow-500 font-bold text-2xl mb-2">NotesSaver</h1>

      <div class="w-full flex flex-col gap-2 items-center mt-10 bg-zinc-800 p-5 rounded-md min-h-92 max-w-92">

        <h1 class="text-md font-semibold text-zinc-200 uppercase"><%= data.title %></h1>
        <hr>
         <span class="w-full h-[1px] bg-black"></span>
        <div class="w-full mt-2">
            <p class="text-zinc-500 text-sm text-center">
                <%= data.desc %>
            </p>
        </div>
      </div>

      <a class="mt-5 text-blue-500" href="/">Go Back</a>
      
    </div>
  </body>
</html>
